<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for House</h1>

		<f:flashMessages />

		<table  class="tx_tcaorder" >
			<tr>
				<th><f:translate key="tx_tcaorder_domain_model_house.name" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{houses}" as="house">
				<tr>
					<td><f:link.action action="show" arguments="{house : house}"> {house.name}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{house : house}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{house : house}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New House</f:link.action>
	</f:section>
</html>